<strong>Olá, {{ student.name }}</strong><br />
<small>Segue abaixo a resposta de sua pergunta,<br />
realizada em: {{ question_date }}</small>
  <p><strong>{{ answer }}</strong></p>
  <small>
    Fique à vontade para nos contactar, caso precise de maiores esclarecimentos!
  </small>
</p>
