<strong>Olá, {{ student.name }}</strong>
<p>Sua matrícula foi realizada com sucesso!</p>
<p>
  <strong>Data início: </strong> {{ start_date }} <br />
  <strong>Data término: </strong> {{ end_date }} <br />
  <strong>Preço total: </strong> {{ plan.price }} <br />
  <small>
    Você poderá realizar até 5 checkins por semana, no horário das 08:00 às 22:00<br />
    Bom treino!
  </small>
</p>
